#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#app-container h1 {
    padding-bottom: 1%;
    font-size: 25px;
}

#app-container h2 {
    padding-top: 1%;
    font-size: 20px;
}

#app-container hr {
    width: 50%;
}